html {
  scroll-behavior: smooth;
}

/**
 * 自定义 md table 样式
 */
.vp-doc {
  table {
    thead {
      display: flex;
      tr {
        flex: 1;
        display: flex;
        th {
          flex: 1;
        }
      }
    }
    tbody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      tr {
        flex: 1;
        display: flex;
        td {
          flex: 1;
          code {
            overflow-wrap: break-word;
          }
        }
      }
    }
    tr {
      border-top: 0;
    }
    th,
    td {
      border: 0;
    }
    tr:nth-child(2n) {
      background-color: unset;
    }

    tr:nth-last-child(1) {
      border-bottom: 1px solid var(--vp-c-divider);
    }
  }
}

/**
 * 自定义 el-table 样式
 */
.vp-doc {
  .el-table {
    .el-table__header,
    .el-table__body {
      margin: 0;
    }

    table {
      display: table;
      width: 100%;
      thead {
        display: table-header-group;
        tr {
          display: table-row;
        }
      }
      tbody {
        display: table-row-group;
        tr {
          display: table-row;
        }
      }
    }
  }
}
